# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Flutter / Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub/
**/.pub-cache/

# OS / System
.DS_Store
Thumbs.db
*.log

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws
